<ng-container class="editAccount-dialog">
    <p class="dialog-title">Editar perfil</p>
    <hr>
    <div class="dialog-body">
        <div class="dialog-img">
          <div *ngIf="(global.photo==null || global.photo=='null')&& edtitPhoto==null" class="profile-img align-middle">
            <div class="text-img align-middle text-center">E</div>
          </div>
          <img *ngIf="global.photo!=null &&global.photo!='null' && edtitPhoto==null " src="{{global.photo}}" class="profile-img">
          <img *ngIf="edtitPhoto!=null " src="{{srcPhoto}}" class="profile-img">
          <input style="display: none;"
                 (change)="choosePhoto($event)"
                 type="file"  #fileUpload>
            <button (click)="fileUpload.click()" mat-raised-button class="cancel-button">Cargar imagen</button>
        </div>
    </div>
    <div class="dialog-form">
        <div class="dialog-name">
            <p>NOMBRE</p>
            <mat-form-field class="user-name" appearance="outline">
                <mat-label> {{first_name}} </mat-label>
                <input type="text" matInput placeholder="nombre" [(ngModel)]="first_name" required>
            </mat-form-field>
        </div>
        <div class="dialog-LastName">
            <p>APELLIDO </p>
            <mat-form-field class="user-lastName" appearance="outline">
                <mat-label> {{last_name}} </mat-label>
                <input type="text" matInput placeholder="Apellido" [(ngModel)]="last_name" required>
            </mat-form-field>
        </div>
        <div class="dialog-mail">
            <p>CORREO </p>
            <mat-form-field class="user-mail" appearance="outline">
                <mat-label>{{email}} </mat-label>
                <input type="text" matInput placeholder="example@email.com" [(ngModel)]="email" required>
            </mat-form-field>
        </div>
        <div class="dialog-typeAccount">
            <p>TIPO DE CUENTA </p>
            <mat-form-field class="user-account" appearance="outline">
                <mat-label>EMPRENDIMIENTO</mat-label>
                <input type="text" matInput placeholder="TIPO DE CUENTA">
            </mat-form-field>
        </div>
        <div class="dialog-slideToggle">
            <mat-slide-toggle>Destacar como perfil sugerido</mat-slide-toggle>
        </div>
    </div>

    <div class="user-buttons">
        <button mat-raised-button class="save-button" mat-dialog-close (click)="changePassword()">Guardar</button>
        <button mat-raised-button class="cancel-button" mat-dialog-close>Cancelar</button>

    </div>
</ng-container>
